/* .description-holder{
	position:absolute;
	width:50%;
	height:100%;
	color:white;
}

.description-bar{
	position:absolute;
	width:50%;
	color:white;
	bottom:17%;
	left:10%;
	padding-left:5%;
	padding-bottom:5%;
	border-radius:9px;
	background:rgba(100, 100, 100, 0.2);
	backdrop-filter:blur(6px);
	opacity:0;
	transition:all 5s;
} */





.description-bar .extra-plate{
	
	/* position:absolute; */
	/* border:1px solid aqua; */
	display:flex;
	width:100%;
	/* height:50px; */
	
	position:relative;
	/* justify-content: center; */
    align-items: center;
	
	margin-top:10%;
}

.description-bar .extra-plate .plane-icon{
	
	position:absolute;
	display:flex;
	/* border:1px solid red; */
	position:relative;
	justify-content: center;
    align-items: center;
	width:40px;
	/* left:0%; */
	
}

.description-bar .extra-plate .plane-icon .fa{
	
	position:absolute;
	/* border:1px solid #036FDA; */

}

.description-bar .extra-plate .plane-icon .fa-1{
	
	z-index:1;
	color:#3399FE;
	font-size:300%;
}

.description-bar .extra-plate .plane-icon .fa-2{
	
	
	z-index:2;
	color:#036FDA;
	font-size:250%;
}

.description-bar .extra-plate .plane-icon .fa-3{
	
	color:white;
	z-index:3;
	font-size:130%;
}

.description-bar .extra-plate .travel-btn{
	
	font-size:110%;
	/* margin-bottom:5%; */
	margin-left:15px;
	
	/* border:1px solid #036FDA; */
	display:flex;
	
	/* height:140%; */
	/* position:relative; */
	justify-content: center;
    align-items: center;
	
	font-weight:600;
	
}


.description-bar .extra-plate .travel-btn p{
	
	position:relative; 
	/* border:1px solid red; */

	height:30px;
	margin-top:25%;
	
}
.description-bar .extra-plate .travel-btn a{
	
	color:white;
	text-decoration:none;
	
}


.description-bar .extra-plate .arrow-btn{
	
	font-size:100%;
	margin-left:5px;
	/* color:rgba(255,255,255,0.6); */
}

.description-bar .extra-plate .arrow-btn a{
	
	color:rgba(255,255,255,0.6);
	text-decoration:none;
	color:white;
	
	font-size:110%;
	display:flex;
	justify-content: center;
    align-items: center;
	
	font-weight:600;
}



@media only screen and (min-width:0px) {

	.description-holder{
		
		position:absolute;
		width:85%;
		height:100%;
		/* border:1px solid aqua; */
		color:white;
		
		/* bottom:20%; */
	}

	.description-bar{
		
		position:absolute;
		
		width:100%;
		/* height:100%; */
		/* border:1px solid red; */
		color:white;
		
		bottom:17%;
		left:10%;
		
		padding-left:5%;
		padding-bottom:5%;
		border-radius:9px;
		
		background:rgba(100, 100, 100, 0.2);
		backdrop-filter:blur(6px);
		
		opacity:0;
		transition:all 5s;
	}
	
	.description-bar .tittle-plate{
		position:relative;
		/* border:1px solid red; */
		font-size:250%;
		font-weight:600;
	}
	
	.description-bar .description-plate{
		font-size:80%;
		font-weight:400;
	}

}



@media only screen and (min-width: 300px) {

	.description-holder{
		
		position:absolute;
		width:50%;
		height:100%;
		/* border:1px solid aqua; */
		color:white;
		
		/* bottom:20%; */
	}

	.description-bar{
		
		position:absolute;
		
		width:100%;
		/* height:100%; */
		/* border:1px solid red; */
		color:white;
		
		bottom:17%;
		left:10%;
		
		padding-left:5%;
		padding-bottom:5%;
		border-radius:9px;
		
		background:rgba(100, 100, 100, 0.2);
		backdrop-filter:blur(6px);
		
		opacity:0;
		transition:all 5s;
	}
	
	.description-bar .tittle-plate{
		position:relative;
		/* border:1px solid red; */
		font-size:250%;
		font-weight:600;
	}
	
	.description-bar .description-plate{
		font-size:80%;
		font-weight:400;
	}

}


@media only screen and (min-width: 750px) {

	.description-holder{
		
		position:absolute;
		width:50%;
		height:100%;
		/* border:1px solid aqua; */
		color:white;
		
		/* bottom:20%; */
	}

	.description-bar{
		
		position:absolute;
		
		width:75%;
		/* height:100%; */
		/* border:1px solid red; */
		color:white;
		
		bottom:17%;
		left:10%;
		
		padding-left:5%;
		padding-bottom:5%;
		border-radius:9px;
		
		background:rgba(100, 100, 100, 0.2);
		backdrop-filter:blur(6px);
		
		opacity:0;
		transition:all 5s;
	}
	
	
	.description-bar .tittle-plate{
		position:relative;
		/* border:1px solid red; */
		font-size:400%;
		font-weight:800;
	}

	.description-bar .description-plate{
		font-size:90%;
		font-weight:500;
	}

}


@media only screen and (min-width: 950px) {

	.description-holder{
		
		position:absolute;
		width:50%;
		height:100%;
		/* border:1px solid aqua; */
		color:white;
		
		/* bottom:20%; */
	}

	.description-bar{
		
		position:absolute;
		
		width:60%;
		/* height:100%; */
		/* border:1px solid red; */
		color:white;
		
		bottom:17%;
		left:10%;
		
		padding-left:5%;
		padding-bottom:5%;
		border-radius:9px;
		
		background:rgba(100, 100, 100, 0.2);
		backdrop-filter:blur(6px);
		
		opacity:0;
		transition:all 5s;
	}
	
	.description-bar .tittle-plate{
		position:relative;
		/* border:1px solid red; */
		font-size:600%;
		font-weight:900;
	}
	
	.description-bar .description-plate{
		font-size:100%;
		font-weight:500;
	}

}










































