header{
    background: url(../image/homepage.jpg) no-repeat center center / cover;
    height: 100vh;
    /* min-height: 100px; */
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-flow: column; */
}

.copy-right{
	position:absolute;
	/* border:1px solid red; */
	background:rgba(100, 100, 100, 0.1);
	backdrop-filter:blur(6px);
	/* margin-left:5px; */
	margin-bottom:5px;
	bottom:0;
	left:0;
	color:white;
	font-size:13px;
	padding:0px 10px;
}