header{
    background: url(../image/homepage.jpg) no-repeat center center / cover;
    height: 140vh; /* before it was 140vg SAF */
    /* min-height: 100px; */
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-flow: column; */
	
}

.copy-right{
	position:absolute;
	/* border:1px solid red; */
	background:rgba(100, 100, 100, 0.1);
	backdrop-filter:blur(6px);
	/* margin-left:5px; */
	margin-bottom:5px;
	bottom:-40%;
	left:0;
	color:white;
	font-size:13px;
	padding:0px 10px;
}


/* Upper-halp right side copy icon size updated before it was 1.333333em or you remove this css to older version*/
.fa-lg {
    font-size: 2.333333em !important; 
}
/* end size css*/