header{
    /* background: url(../image/10.jpg) no-repeat center center / cover; */
    height: 100%;
    /* min-height: 100px; */
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-flow: column; */
	
	background: linear-gradient(to bottom, #000066 0%, #800000 100%);
	
	/* position:absolute; */
	/* border:1px solid lime; */
}

.project-title{
	position:relative;
	width:70%;
	margin-left:15%;
	margin-top:5%;
	color:white;
	display:flex;
	/* border:1px solid lime; */
	font-size:25px;
	font-weight:800;
	/* text-align:center; */
	/* justify-content:center; */
}





.item a{
	
	/* border:1px solid red; */
	height:100%;
	width:100%;
	position:absolute;
	border-radius:5px;
}

.item .project-name{
	
	font-size:20px;
	font-weight:700;
	color:white;
	/* border:1px solid red; */
	text-align:center;
	/* backdrop-filter:blur(6px); */
	position:absolute;
	background-color:black;
	
	padding:3px 10px;
	border-radius:4px;
}



.item-1{
	
	background: url(../image/1.jpg) no-repeat center center / cover;
}
.item-2{
	
	background: url(../image/2.jpg) no-repeat center center / cover;
}
.item-3{
	
	background: url(../image/3.jpg) no-repeat center center / cover;
}
.item-4{
	
	background: url(../image/4.jpg) no-repeat center center / cover;
}



@media only screen and (min-width: 0px) {
	.Item-holder{
	
		position:relative;
		width:90%;
		margin-left:5%;
		margin-top:7%;
		/* margin-bottom:5%; */
		/* bottom:0; */
		height:80vh;
		/* border:1px solid lime; */
		/* color:white; */
		display: flex;
		/* bottom:20%; */
		
		
		margin-bottom:2%;
	}


	.item{
		
		transition:all 0.5s;
		display:flex;
		justify-content:center;
		
		position:absolute;
		/* border:2px solid aqua; */
		width:90%;
		height:45%;
		margin-left:5%;
		border-radius:5px;
	}
	.item:hover{
		
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
		transform:Scale(1.1);
		
		transition:all 0.5s;
	}


	.item:nth-child(2n+1){
		
		
	}


	.item:nth-child(2n){
		/* right:0%; */
		bottom:0%;
	}
	
}

@media only screen and (min-width: 450px) {
	
	.Item-holder{
	
		position:relative;
		width:70%;
		margin-left:15%;
		margin-top:7%;
		/* margin-bottom:5%; */
		/* bottom:0; */
		height:80vh;
		/* border:1px solid lime; */
		/* color:white; */
		display: flex;
		/* bottom:20%; */
		
		
		margin-bottom:2%;
	}


	.item{
		
		transition:all 0.5s;
		display:flex;
		justify-content:center;
		
		position:absolute;
		/* border:2px solid aqua; */
		width:80%;
		height:45%;
		margin-left:10%;
		border-radius:5px;
	}
	.item:hover{
		
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
		transform:Scale(1.1);
		
		transition:all 0.5s;
	}


	.item:nth-child(2n+1){
		
		
	}


	.item:nth-child(2n){
		/* right:0%; */
		bottom:0%;
	}
	
}

@media only screen and (min-width: 750px) {
	
	.Item-holder{
		
		position:relative;
		width:70%;
		margin-left:15%;
		margin-top:3%;
		/* bottom:0; */
		height:40vh;
		/* border:1px solid lime; */
		/* color:white; */
		display: flex;
		/* bottom:20%; */
		
		
		margin-bottom:2%;
	}


	.item{
		
		transition:all 0.5s;
		display:flex;
		justify-content:center;
	}
	.item:hover{
		
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
		transform:Scale(1.1);
		
		transition:all 0.5s;
	}


	.item:nth-child(2n+1){
		
		position:absolute;
		/* border:2px solid aqua; */
		width:40%;
		height:100%;
		/* float:right; */
		
		/* margin-left:100px; */
		border-radius:5px;
		
		
		
	}


	.item:nth-child(2n){
		
		position:absolute;
		/* border:2px solid red; */
		width:40%;
		height:100%;
		/* float:right; */
		right:0%;
		border-radius:5px;
		
	}
	
}

@media only screen and (min-width: 950px) {
	
	.Item-holder{
	
		position:relative;
		width:70%;
		margin-left:15%;
		margin-top:3%;
		/* bottom:0; */
		height:40vh;
		/* border:1px solid lime; */
		/* color:white; */
		display: flex;
		/* bottom:20%; */
		
		
		margin-bottom:2%;
	}


	.item{
		
		transition:all 0.5s;
		display:flex;
		justify-content:center;
	}
	.item:hover{
		
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
		transform:Scale(1.1);
		
		transition:all 0.5s;
	}


	.item:nth-child(2n+1){
		
		position:absolute;
		/* border:2px solid aqua; */
		width:40%;
		height:100%;
		/* float:right; */
		
		/* margin-left:100px; */
		border-radius:5px;
		
		
		
	}


	.item:nth-child(2n){
		
		position:absolute;
		/* border:2px solid red; */
		width:40%;
		height:100%;
		/* float:right; */
		right:0%;
		border-radius:5px;
		
	}
}


































