@media only screen and (min-width: 300px) {
	.radio-group{
		/* border:1px solid blue; */
		
		position:relative;
		top:45%;
		left:50%;
		transform:translate(-50%,-50%);
		height:125px;
		/* display:flex; */
		width:25px;
		/* transform:rotate(90deg); */
		display:none;
		
	}
}


@media only screen and (min-width: 750px) {
	.radio-group{
		/* border:1px solid blue; */
		
		position:relative;
		top:45%;
		left:50%;
		transform:translate(-50%,-50%);
		height:125px;
		/* display:flex; */
		width:25px;
		/* transform:rotate(90deg); */
		display:block;
		
	}
}





.search-col-bar{
	/* border: 1px solid #D800FF; */
	height:100%;
	
	/* overflow:hidden; */
}

.upper-half{
	
	/* border: 1px solid lime; */
	position:relative;
	height:50%;
	width:70px;
	/* top:2%; */
	background-color: rgba(100, 100, 100, 0.2);
	backdrop-filter:blur(3px);
	
	border-bottom-left-radius:20px;
	/* filter: blur(1px); */
	/* background:red; */
}

.search-col-bar .search-bar{
	
	/* border: 1px solid red; */
	
	position:relative;
	top:5%;
	width:100%;
	display:flex;
	justify-content: center;
    align-items: center;
	
}

.search-col-bar .search-bar a{
	color:#00C1FF;
}





.radio{
	/* font-size:24px; */
	/* font-weight:500; */
	/* text-transform:capitalize; */
	display:flex;
	/* vertical-align:middle; */
	color:white;
	height:25px;
	width:25px;
	position:relative;
	
    justify-content: center;
    align-items: center;
	/* padding-left:30px; */
	
	/* border:1px solid red; */
}

.radio + .radio{
	
	/* margin-left:20px; */
}

.radio input[type="radio"]{
	display:none;
}

.radio span{
	height:20px;
	width:20px;
	border-radius:50%;
	border:3px solid #00C1FF;
	
	display:flex;
	position:relative;
	
    justify-content: center;
    align-items: center;
	/* position:absolute; */
	
	/* left:0; */
	/* top:7px; */
	
	cursor:pointer;
	/* border:1px solid yellow; */
}

.radio span:after{
	content:"";
	height:8px;
	width:8px;
	background:#00C1FF;
	display:block;
	/* position:absolute; */
	
	/* left:50%; */
	/* top:50%; */
	/* transform:translate(-50%,-50%) scale(0); */
	transform:translate(0%,0%) scale(0);
	
	border-radius:50%;
	transition: 300ms ease-in-out 0s;
	
}

.radio input[type="radio"]:checked ~ span:after{
	
	/* transform:translate(-50%,-50%) scale(1); */
	transform:translate(0%,0%) scale(1);
}


.share-icon{
	/* border: 1px solid red; */
	
	position:absolute;
	bottom:5%;
	/* top:0%; */
	width:100%;
	display:flex;
	
	justify-content: center;
    align-items: center;
	
	transition:all 0.5s;
	color:#00C1FF;
	
	z-index:3;
}


.share-icon:hover{

	transition:all 0.5s;
	color:#00FF46; 	
	
	z-index:3;
}


.lower-half{
	/* border: 1px solid #00FF00; */
	position:relative;
	height:50%;
	width:70px;
	display:flex;
	
	/* left:-500%; */
	/* transform:translate(0%,0%); */
	
	justify-content: center;
    align-items: center;
}

.lower-half .social{
	
	/* border: 1px solid red; */
	/* height:30px; */
	position:absolute;
	/* width:70px; */
	font-weight:500;
	
	background:rgba(44,59,47,0.6);
	border-radius:12px;
	
}

.lower-half .social a{
	
	text-decoration:none;
	color:white;
	/* transform:scale(1); */
	
	transition: all 0.5s;
}

.lower-half .social a:hover{
	text-decoration:none;
	color:yellow;
	transition: all 0.5s;
}

.lower-half .link-1{
	
	top:15%;
	/* margin-top:20px; */
	transform:rotate(90deg);
	padding:0px 6px;
}

.lower-half .link-2{
	
	top:48%;
	transform:rotate(90deg);
	padding:0px 6px;
}

.lower-half .link-3{
	
	bottom:15%;
	/* margin-bottom:20px; */
	transform:rotate(90deg);
}























































