@media only screen and (min-width: 300px) {

	.slider-bar{
		position:absolute;
		color:white;
		
		height:100vh;
		width:25%;
		
		right:15%;
		
		/* border: 1px solid lime; */
		background:rgba(100, 100, 100, 0.1);
		backdrop-filter:blur(6px);
		/* width:auto; */
		/* overflow:hidden; */
		
		/* display:flex; */
		/* justify-content: center; */
		/* align-items: center; */
		
		display:none;
	}
}

/* for tablet */
@media only screen and (min-width: 750px) {

	.slider-bar{
		position:absolute;
		color:white;
		
		height:100vh;
		width:20%;
		
		right:15%;
		
		/* border: 1px solid lime; */
		background:rgba(100, 100, 100, 0.1);
		backdrop-filter:blur(6px);
		/* width:auto; */
		/* overflow:hidden; */
		
		display:flex;
		/* justify-content: center; */
		/* align-items: center; */
	}
}
/* for pc to tab */
@media only screen and (min-width: 950px) {

	.slider-bar{
		position:absolute;
		color:white;
		
		height:100vh;
		width:20%;
		
		right:15%;
		
		/* border: 1px solid lime; */
		background:rgba(100, 100, 100, 0.1);
		backdrop-filter:blur(6px);
		display:flex;
	}
}


















.slider-bar .weather{
	
	position:relative;
	/* border: 1px solid red; */
	height:20%;
	width:60%;
	top:0%;
	
	margin-top:30px;
	margin-left:20%;
	
	border-radius: 4px;
	/* border-bottom-left-radius: 4%; */
	/* border-bottom-right-radius: 4%; */
	
	background:#3399FE;
	
	display:flex;
	justify-content: center;
    align-items: center;
	
	font-size:30px;
	font-weight:800;
	
	background: url(../image/logo.jpg) no-repeat center center / cover;
}

.temparature{
	position:relative;
	/* border: 1px solid red; */
	height:57%;
	width:100%;
	/* display:flex; */
	
}

.temparature .temp-title{
	position:relative;
	/* border: 1px solid yellow; */
	height:35%;
	width:100%;
	display:flex;
	
	/* top:50%; */
	/* justify-content: center; */
    /* align-items: center; */
	
}

.temparature .temp-title .tittle-text{

	position:absolute;
	
	font-size:100%;
	/* border: 1px solid red; */
	height:100%;
	left:10%;
	
	
	display:flex;
	justify-content: center;
    align-items: center;
}




.temparature .temp-title .arrow-icon{
	/* position:relative; */
	
	position:absolute;
	
	font-size:100%;
	/* border: 1px solid red; */
	height:100%;
	right:10%;
	
	
	display:flex;
	justify-content: center;
    align-items: center;
}

.temparature .temp-title .arrow-icon a{
	
	color:white;
	text-decoration:none;
	
}


/* part 2 start*/

.temparature .border-partition{
	position:relative;
	/* border: 1px solid yellow; */
	top:65%;
	margin-left:10%;
	width:80%;
	/* height:5px; */
	border-bottom:1px solid gray;
	
}
/* part 2 end*/


.temparature .temp-info{
	position:relative;
	/* border: 1px solid yellow; */
	height:65%;
	width:100%;
}


/* .temparature .temp-info .cloud-icon{ */

	/* position:absolute; */
	
	/* font-size:100%; */
	/* height:100%; */
	/* right:10%; */
	
	/* display:flex; */
	/* justify-content: center; */
    /* align-items: center; */
/* } */

.temparature .temp-info .fa-cloud{

	color: rgba(255, 255, 255, 0.6);
	/* font-size:140%; */
	padding-left:10px;
}

.temparature .temp-info .temp-data{

	position:absolute;
	
	font-size:100%;
	/* border: 1px solid red; */
	height:100%;
	left:10%;
	
	font-size:200%;
	font-weight:800;
	
	display:flex;
	justify-content: center;
    align-items: center;
}

.temparature .temp-info .temp-data sup{
	padding-left:2px;
}


/* part3 start ........................................................... */


.other-info{
	position:relative;
	/* border: 1px solid purple; */
	height:43%;
	width:100%;
	
	display:flex;
	/* font-size:90%; */
	/* font-weight:700; */
	
}

.other-info .part-1{
	position:relative;
	/* border: 1px solid purple; */
	height:100%;
	width:50%;
	
	display:flex;
	justify-content: center;
    align-items: center;
}
	


.other-info .part-2{
	position:relative;
	/* border: 1px solid blue; */
	height:100%;
	width:50%;
	
	display:flex;
	justify-content: center;
    align-items: center;
}



/* part3 end ........................................................... */

.slider-bar .slider-panel{
	
	/* border: 1px solid red; */
	
	height:70%;
	width:80%;
	
	margin-left:10%;
	top:30%;
	
	
	position:absolute;
	
	
	overflow:hidden;
	overflow-y: scroll;
	
	/* overflow: auto; */
	/* this will hide the scrollbar in mozilla based browsers */
	/* overflow: -moz-scrollbars-none; */
	/* this will hide the scrollbar in internet explorers */
	/* -ms-overflow-style: none; */
}

.slider-bar .slider-panel::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.slider-bar .slider-panel .image-holder{
	
	position:relative;
	
	/* border: 2px solid aqua; */
	height:100%;
	width:80%;
	top:50%;
	margin-left:10%;
	
	transition:all 0.5s;
	transform:translate(0%,-30%);
	/* overflow-y: scroll; */
	/* z-index:3; */
}

.slider-bar .slider-panel .image-holder .image-box{
	
	position:relative;
	
	/* border: 1px solid red; */
	height:25%;
	width:100%;
	margin-bottom:20%;
	
	border-radius:5%;
	
	display:flex;
	
	transition:all .5s;
	
	/* overflow-y: scroll; */
}

.slider-bar .slider-panel .image-holder .image-box:hover{
	
	cursor:pointer;
	transition:all .5s;
	transform:Scale(1.2);
}

.slider-bar .slider-panel .image-holder .image-box .image-tag{
	
	margin-top:3%;
	margin-left:5%;
	/* border: 1px solid red; */
	font-size:80%;
	position:absolute;
	width:100%;
}

.slider-bar .slider-panel .image-holder .image-box .image-detail{
	
	/* position:relative; */
	
	bottom:5%;
	margin-left:5%;
	/* bottom:20%; */
	/* border: 1px solid red; */
	font-size:80%;
	
	position:absolute;
	width:90%;
	
	display:flex;
}

.slider-bar .slider-panel .image-holder .image-box .left-part{
	
	/* position:relative; */
	
	/* bottom:5%; */
	/* margin-left:5%; */
	/* bottom:20%; */
	/* border: 1px solid red; */
	font-size:100%;
	height:100%;
	position:relative;
	width:70%;
	
	
	
}
.slider-bar .slider-panel .image-holder .image-box .left-part .fa-star{
	
	font-size:90%;
	color:#3399FE;
	padding-right:1%;
	
}




.slider-bar .slider-panel .image-holder .image-box .image-detail .arrow-icon{
	
	/* border: 1px solid blue; */
	/* float:right; */
	/* color:#399CFE; */
	
	position:relative;
	
	/* height:100%; */
	/* width:30%; */
	/* left:0%; */
	margin-left:15%;
	
	display:flex;
	/* justify-content: center; */
    align-items: center;
	
}

.slider-bar .slider-panel .image-holder .image-box .image-detail .arrow-icon .fa-arrow-circle-right{
	
	color:#399CFE;
	font-size:170%;
}




.slider-bar .slider-panel .image-holder .image-1{
	
	background: url(../image/1.jpg) no-repeat center center / cover;
	/* background-image: url("../image/1.jpg"); */

	/* background-position: center; */
	/* background-repeat: no-repeat; */
	/* background-size: cover; */

}

.slider-bar .slider-panel .image-holder .image-2{
	
	background: url(../image/2.jpg) no-repeat center center / cover;
}


.slider-bar .slider-panel .image-holder .image-3{

	background: url(../image/3.jpg) no-repeat center center / cover;
}



.slider-bar .slider-panel .image-holder .image-4{
	
	background: url(../image/4.jpg) no-repeat center center / cover;
}

/* part 4 scroll bar panel start............................... */

.slider-bar .scroll-panel{
	
	/* border: 1px solid red; */
	
	height:70%;
	width:12%;
	
	margin-left:0%;
	top:30%;

	position:absolute;
	display:flex;
	justify-content: center;
    align-items: center;

}

.slider-bar .scroll-panel .scroll-bar{
	
	border: 3px solid #697372; /* need must */
	
	height:140px;
	width:8px;
	border-radius:6px;
	background:#A5B6B4;

}

.slider-bar .scroll-panel .scroll-bar .scroller{
	
	/* border: 3px solid #697372; */
	
	height:33.5px;
	width:2px;
	border-radius:6px;
	background:#399CFE;
	
	/* transform:translate(0%,0%); */
	
	transition: all .5s;

}


.slider-bar .scroll-panel .fa-long-arrow-up{
	
	/* border: 3px solid #697372; */
	
	position:absolute;
	margin-bottom:190px;
	
	color: rgba(255,255,255, 1);
	transition:all 0.5s;
}

.slider-bar .scroll-panel .fa-long-arrow-up:hover{
	cursor:pointer;
}

.slider-bar .scroll-panel .fa-long-arrow-down{
	
	/* border: 3px solid #697372; */
	
	position:absolute;
	margin-top:190px;
	
	color: rgba(255,255,255, 1);
	transition:all 0.5s;
}

.slider-bar .scroll-panel .fa-long-arrow-down:hover{
	cursor:pointer;
}



.slider-bar .slider-panel .image-holder a{
	/* border:1px solid red; */
	position:absolute;
	height:100%;
	width:100%;
	z-index:5;
	
	border-radius:6px;
	
}







































